{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "react",
    "prettier",
    "immutable",
    "import"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "jasmine": true,
    "mocha": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": "error",
    "no-unexpected-multiline": 0,
    "immutable/no-let": 2,
    "immutable/no-mutation": 2,
    "immutable/no-this": 2,
    "import/named": 2,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [2, {"commonjs": true, "amd": true}],
    "import/prefer-default-export": 0,
    "jsx-a11y/anchor-has-content": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/href-no-hash": 0,
    "new-cap": 1,
    "no-console": 1,
    "no-underscore-dangle": 0,
    "no-useless-escape": 0,
    "no-var": 2,
    "prefer-const": 2,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-no-target-blank": 1,
    "react/no-array-index-key": 0,
    "react/no-children-prop": 0,
    "react/no-unused-prop-types": 0,
    "react/prop-types": 0,
    "react/require-default-props": 0,
    "strict": 0,
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore"
    }],
    "arrow-parens": 0,
    "flowtype-errors/show-errors": 1,
    "flowtype-errors/show-warnings": 1,
    "flowtype/no-types-missing-file-annotation": 0,
    "flowtype/union-intersection-spacing": 0,
    "react/prefer-es6-class": [2, "always"],
    "camelcase": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/label-has-for": 0
  },
  "settings": {}
}
